:root {
    // Fonts
    --ff-sans: "Hanken Grotesk", sans-serif;
    --ff-serif: "Playfair Display", serif;

    --fs-100: 1.125rem;
    --fs-200: 1.5rem;
    --fs-300: 2rem;
    --fs-400: 4.5rem;

    @media (max-width:25em) {
        --fs-100: 1rem;
        --fs-200: 1.125rem;
        --fs-300: 1.5rem;
        --fs-400: 3rem;
    }

    --fw-100: 500;
    --fw-200: 700;
    --fw-300: 800;

    // Colors
    --clr-primary-red: 0, 100%, 67%;
    --clr-primary-yellow: 39, 100%, 56%;
    --clr-primary-teal: 166, 100%, 37%;
    --clr-primary-blue: 234, 85%, 45%;

    --clr-neutral-100: 0, 0%, 100%; // white
    --clr-neutral-200: 221, 100%, 96%; // hsl(221, 100%, 96%);
    --clr-neutral-300: 241, 100%, 89%; // hsl(241, 100%, 89%);
    --clr-neutral-400: 224, 30%, 27%; // hsl(224, 30%, 27%);

    //Gradients
}
